{$WEB_DOMAIN} {
    encode zstd gzip

    @backend path /api/* /hubs/* /health/* /swagger* /uploads/*
    handle @backend {
        reverse_proxy tetgift-api:10000
    }

    handle {
        reverse_proxy tetgift-web:80
    }
}
